/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px 68px;
  background-color: #010103;
  color: #5d6068;
  font-family: 'Cormorant Garamond', serif;
}

a {
  text-decoration: none;
  color: #4a4c52;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: 8rem 1fr;
  border-radius: 25px;
  padding: 2px;
  gap: 15px;
  height: 100vh;
}

/* ********** Header ************** */

.header {
  align-self: stretch;
  margin-bottom: 50px;
}

.header h3 {
  color: #d3ad7f;
  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.header h3::before,
.header h3::after {
  display: block;
  content: '';
  height: 3px;
  width: 15rem;
  background-color: #c0a689;
  position: absolute;
  top: calc(50% - 1px);
}

.header h3::before {
  left: 0;
}

.header h3::after {
  right: 0;
}
/* ********** NavBar ************* */

.navbar {
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 70px;
  color: #383a3f;
  background-color: #1a1d21;
  margin-bottom: 10px;
  border-radius: 10px;
}
.navbar span {
  display: flex;
}
/* ********** SideBar ************* */

.sidebar {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 90px;
  color: #383a3f;
  background-color: #1a1d21;
  height: 100vh;
}

.active {
  color: #e5c8a4;
}

/* ********* Books *************** */

.books-dtl {
  display: flex;
  flex-direction: column;
  background-color: #1a1d21;
  padding: 30px;
  height: 100vh;
  padding-bottom: 0;
}

.books {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  list-style: none;
  color: #fff;
  /* background-color: #1a1d21; */
  padding: 50px;
  overflow: auto;
  height: 80vh;
}

.books img {
  width: 7rem;
  height: 10rem;
}

.add-new-book {
  width: 110px;
  font-size: 18px;
  font-family: inherit;
  background-image: linear-gradient(160deg, #1b1e24, #343943, #c0a689, #e0c2a0);
  margin: 13px;
  border-radius: 5px;
}

.book.sold-out {
  color: #888;
}

.book.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

.books span {
  font-size: large;
  margin-top: 20px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.book input {
  width: 300px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background-color: #41434d;
  border: none;
  color: #fff;
}

.user-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-btn button {
  font-size: 20px;
  padding: 5px;
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.more-dtl-btn {
  background-color: #d1b591;
  border-radius: 3px;
  border: none;
}

.borrow-btn {
  background-color: #363638;
  color: #c0a689;
  border-radius: 5px;
  border: none;
}

.delete {
  cursor: pointer;
  color: red;
  border-radius: 5px;
  border: none;
  background-color: inherit;
}

.return-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px;
}
.return-btn button {
  background-color: #d1b591;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

/* *********** Books *************** */

h2 {
  color: #c0a689;
  font-size: 30px;
  margin-bottom: 10px;
}

h3 {
  color: #c0a689;
}

.book-content-icon {
  font-size: 30px;
  padding: 20px;
  border-radius: 5px;
  height: 100vh;
  background-image: linear-gradient(160deg, #17191e, #1b1e24, #252930, #3a3f48, #41434d);
}

.book-content {
  color: #414347;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 300px;
  gap: 15rem;
  padding: 0 90px;
  height: 80vh;
}

.home-icon {
  color: #c0a689;
  font-size: 25px;
}

h5 span {
  color: #363638;
}
.book-discription {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 15px;
  font-family: 'Cormorant Garamond', serif;
}

.book-content img {
  width: 21rem;
  filter: drop-shadow(20px 30px 40px #0c0e10);
  padding-right: 70px;
}

.book-dtl {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 20px;
}

.users span {
  color: #41434d;
  font-size: small;
}

/* ************ Search **************** */

.search-input {
  font-size: 20px;
  color: #383a3f;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.search-input p {
  color: #c0a689;
  font-size: 20px;
  margin: 10px;
}

.search-input input {
  align-items: center;
  background-color: #010103;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 5px;
  border: 3px solid #252930;
}

.search-filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  padding: 50px;
}

/* ************ Add Form + Login + Rigister ************** */

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #17191e;
  padding: 100px;
  font-size: 20px;
  color: #474a50;
  border-radius: 10px;
  height: 100vh;
}

.add-form input {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  background-color: #41434d;
  border: none;
  color: #fff;
}

.add-btn {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #c0a689;
}
.form-lable {
  width: 300px;
  color: #c0a689;
}

/* ********** users + authors List *********** */

.lists {
  display: grid;
  grid-template-rows: 100px 1fr;
  background-color: #17191e;
  align-items: center;
  margin: 0;
}

.lists h2 {
  align-items: center;
}
.users {
  padding: 10px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: auto; */
  /* gap: 2.5rem; */
  list-style: none;
  color: #fff;
  background-color: #17191e;
  overflow: auto;
}

.authors-list {
  width: 300px;
  background-color: #41434d;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

/* ******* Author List ******** */

.list-of-users {
  padding: 40px;
  /* display: grid;
  grid-template-rows: 100px 1fr; */
  /* gap: 20px; */
  background-color: #1a1d21;
  /* font-size: 20px; */
  height: 100vh;
  border-radius: 10px;
}

.user {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 30px;
}

.user li {
  list-style: none;
}

/* *********** Contact Us Page ************ */

.main-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17191e;
  color: #343943;
  border-radius: 10px;
  /* padding: 0px 50; */
  font-size: 20px;
  height: 80vh;
}

.main-contact img {
  max-width: 100%;
  max-height: 100%;
}

.contact {
  /* writing-mode: vertical-lr; */
  color: #c0a689;
  font-size: 60px;
  margin-bottom: 20px;
}
.contact-dtl {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #343943;
}

/* *********** Borrows List ********** */

.borrow-date {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 5px;
}
.borrow-date p {
  color: #c0a689;
}
.borrow-date span {
  color: #fff;
}

.borrow-dtl {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.borrow-dtl h6 {
  font-size: 13px;
  color: #4f525d;
}
.borrow-dtl p {
  color: #c0a689;
}
/* ************** Tables ************** */

.table {
  color: #efeded;
  text-align: left;
  width: 100%;
  border: 3px solid #3a3f48;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.table-head {
  font-size: large;
  text-transform: uppercase;
  width: 100%;
  border-bottom: 1px solid #3a3f48;
}

.head {
  color: #c0a689;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3a3f48;
}

.table-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Set a fixed width for each column */
.table-head th,
.table-body td {
  width: 20%; /* Adjust the percentage as needed */
  text-align: center;
}

.select-role {
  background-color: #bababa;
  border-radius: 5px;
  padding: 3px;
}
/* ********* Pagination Button *********** */

.pagination-button {
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
  height: 40px;
  /* background: #202020; */
}

.pagination-button button {
  --size: 32px;
  --margin: 6px;
  margin: 0 var(--margin);
  border-radius: 6px;
  background: #c0a689;
  max-width: auto;
  min-width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
}

/* ******** Media ************ */

@media only screen and (max-width: 1237px) {
  .header h3::before,
  .header h3::after {
    height: 3px;
    width: 10rem;
  }
}

@media only screen and (max-width: 1089px) {
  .header h3::before,
  .header h3::after {
    height: 3px;
    width: 7rem;
  }
}

@media only screen and (max-width: 988px) {
  .header h3::before,
  .header h3::after {
    height: 0px;
    width: 0rem;
  }
}

/* 


.header {
  align-self: stretch;
  margin-bottom: 50px;
}

.header h3 {
  color: #d3ad7f;
  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.header h3::before,
.header h3::after {
  display: block;
  content: '';
  height: 3px;
  width: 15rem;
  background-color: #c0a689;
  position: absolute;
  top: calc(50% - 1px);
}

.header h3::before {
  left: 0;
}

.header h3::after {
  right: 0;
}
*/
